PORT=3001

DB_HOST=mysql-auth
DB_USER=root
DB_PASSWORD=secretpassword
DB_NAME=auth_db
DB_PORT=3306

JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRES_IN=30d
JWT_REFRESH_EXPIRES_IN_DAYS=30
